*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
    }

header{
    width: 100vw;
    height: 20vw;
    display: inline;
}

header img{
    width: 100%;
    height: 100%;
    display: inline-block;
}