*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header{
    width: 100vw;
    height: 40vh; 
    background-image: url(../img/design1_image1.jpg);
    background-size: cover;
}
header h1{
    position: absolute;
    z-index: 1;
    padding: 10px 0px 0px 0px;
    color: aliceblue;
}

h2{
    display: block;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

#logo {
    display: inline-block;
    width: 10vw;
    position: absolute;
    z-index: 1;
    right: 100px;
    top: 230px;
    border: 
}

