*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.header-index-about-contact{
    width: 100vw;
    height: 40vh; 
    background-image: url(../img/design1_image1.jpg);
    background-size: cover;
}
.headerh1-index-about-contact{
    position: absolute;
    z-index: 1;
    padding: 10px 0px 0px 0px;
    color: aliceblue;
}

.sectionh2-index-about-contact{
    display: block;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

#logo {
    display: inline-block;
    width: 10vw;
    position: absolute;
    z-index: 1;
    right: 100px;
    top: 230px; 
}

.container-flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container-nav{
    display: flex;
    flex-direction: column;
    
}

.article-index-about-contact{
    width: 67vw;
    height: 45vh;
    border: 1px solid red;
}

.aside-index-about-contact{
    width: 30vw;
    height: 45vh;
    border: 1px solid red;
}

.imgs-123{
    width: 100px;
    height: 100px;
    margin: 50px;
} 


.nav-a{
    margin-top: 20px ;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
}

#header-rules{
    text-align: center;
    margin-top: 15px;
}

.rules-container-flex{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#main-rules{
    margin: 40px;
}

#ol-3fields{
    list-style-type: lower-latin;
}

#ul-allplay{
    list-style-type: circle;
}

#h1-gameinfo{
    text-align: center;
    margin-top: 30px;
}

#body-gameinfo{
    margin: 30px;
}
